page-list {

  .item {

    .decorated-thumbnail {
      width: 80px;
      height: 80px;
    }
  }

  .list-options {
  	border-bottom: 1px solid #eee;
  	padding-top: 10px;
  	padding-bottom: 10px;
  }

}