page-detail {
  .decorated-thumbnail {
  	width: 200px;
  	height: 200px;
    margin:auto;
  }

  .item-inner {
  	border: none !important;
  }

  .back-to-map-button {
  	margin-right: 15px;
  }
}


